@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-regular.ttf');
  font-weight: 200;
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-bold.ttf');
  font-weight: 600;
}

:root {
  --DarkBlue: hsl(228, 39%, 23%);
  --VaryLightGray: hsl(0, 0%, 98%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --BrightRed: hsl(12, 88%, 59%);
  --HoverBrightRed: hsl(12, 88%, 69%);
  --VeryPaleRed: hsl(13, 100%, 96%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'BeVietnam', sans-serif;
  font-weight: 200;
  color: var(--DarkBlue);
}

p {
  color: var(--DarkGrayishBlue);
  line-height: 22px;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 8%;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

/* navigation for lrg screen*/
.main-nav {
  height: 56px;
  width: 100%;
  margin-bottom: 32px;
}

.logo,
.btn {
  align-self: center;
}

.nav-links {
  margin-right: auto;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  align-self: center;
  color: var(--DarkBlue);
  font-weight: 400;
}

.nav-links a:hover {
  color: var(--DarkGrayishBlue);
}

.nav-links li {
  list-style: none;
  padding: 0 8px;
}

ul.nav-links  {
  padding: 0;
}

.btn button,
.btn-content {
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--BrightRed);
  border: 1px solid var(--BrightRed);
  background-color: var(--BrightRed);
  padding: 8px 24px;
  color: white;
  cursor: pointer;
}


.btn button:hover,
.btn-content:hover {
  opacity: 0.8;
}

/* toggled navigation for mobile */

.toggle-btn {
  margin-left: auto;
  align-self: center;
}

.toggled-nav-links {
  display: none;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
  width: 90%;
  padding: 40px 24px;
  border-radius: 5px;
  background-color: var(--VaryLightGray);
  box-shadow: 0 10px 20px var(--DarkGrayishBlue);
  text-align: center;
  padding: 32px 32px 8px 32px;
  z-index: 1000;
}

button.toggle-btn {
  border-style: none;
  background: none;
  padding: 4px;
}

.toggled-nav-links a {
  text-decoration: none;
  color: var(--DarkBlue);
  font-weight: 600;
  font-size: 1.125em;
}

.toggled-nav-links li {
  list-style: none;
  padding-bottom: 24px;
}

/* hero content */
.hero-content {
  width: 100%;
  justify-content: space-between;
}

.hero-text {
  align-self: center;
  width: 40%;
}

.hero-img {
  width: 55%;
  max-width: 580px;
}

.btn-content {
  margin-top: 8px;
}

/* main content */

.main-content {
  justify-content: space-between;
  margin-top: 40px;
}

.main-content-heading {
  width: 40%;
}

.aside-content {
  width: 50%;
}

.aside-content h4 > span{
  background-color: var(--BrightRed);
  color: white;
  margin-right: 8px;
  padding: 4px 18px;
  border-radius: 20px;
}

.aside-content p {
  margin-left: 63px;
}

.row:not(:first-child) {
  margin-top: 40px;
}

/* slide show */
.slide-show {
  width: 100%;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 70px;
}

.testimonials {
  margin-bottom: 24px;
  overflow: scroll;
  flex-direction: row;
}

.testimonial-card {
  margin: 0 16px;
  padding: 16px;
  background-image: linear-gradient(white 21%, var(--VaryLightGray) 20%);
  min-width: 450px;
  height: auto;
}

.testimonial-card img {
  position: relative;
  width: 80px;
  height: auto;
}

/* footer */


@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }
}

@media (max-width: 880px) {
  .btn-toggle button {
    display: none;
  }

  .nav-links {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  /* navigation */
  .nav-links {
    display: none;
  }

  /* hero content */
  .text-center {
    text-align: center;
  }

  .hero-content {
    justify-content: center;
    flex-direction: column;
  }

  .hero-text,
  .hero-img {
    width: 100%;
  }

  .hero-img {
    order: -1;
    max-width: 480px;
    margin: auto;
  }

  /* main content */
  .main-content {
    flex-direction: column;
  }

  .main-content-heading,
  .aside-content {
    width: 100%;
  }

  /* slideshow */
  .slide-show {
    margin-bottom: 48px;
  }

  /* footer */

}

@media (max-width: 450px) {
  .aside-content h4 {
    padding: 8px 0;
    border-radius: 20px 0 0 20px;
    background-color: var(--VeryPaleRed);
    margin-right: -20px;
  }
  .aside-content p  {
    margin-left: 0;
  }
}
