@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-regular.ttf');
  font-weight: 200;
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: BeVietnam;
  src: url('../fonts/BeVietnam-bold.ttf');
  font-weight: 600;
}

:root {
  --DarkBlue: hsl(228, 39%, 23%);
  --VaryLightGray: hsl(0, 0%, 98%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --BrightRed: hsl(12, 88%, 59%);
  --HoverBrightRed: hsl(12, 88%, 69%);
  --VeryPaleRed: hsl(13, 100%, 96%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'BeVietnam', sans-serif;
  font-weight: 200;
  color: var(--DarkBlue);
}

p {
  color: var(--DarkGrayishBlue);
}

.container {
  height: 100vh;
  padding: 0 5%;
  background-image: url('../img/bg-simplify-section-desktop.svg');
}

/* navigation */
.main-nav {
  height: 56px;
  width: 100%;
  margin-bottom: 32px;

  display: flex;
}

.logo,
.btn {
  align-self: center;
}

.nav-links {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.nav-links a {
  text-decoration: none;
  align-self: center;
  color: var(--DarkBlue);
  font-weight: 400;
}

.nav-links a:hover {
  color: var(--DarkGrayishBlue);
}

.nav-links li {
  list-style: none;
  padding: 0 8px;
}

ul.nav-links  {
  padding: 0;
}

.btn button,
.btn-content {
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--BrightRed);
  border: 1px solid var(--BrightRed);
  background-color: var(--BrightRed);
  padding: 8px 24px;
  color: white;
  cursor: pointer;
}


.btn button:hover,
.btn-content:hover {
  opacity: 0.8;
}

/* toggled navigation for mobile */

.toggle-btn {
  margin-left: auto;
  align-self: center;
}

.toggled-nav-links {
  display: none;
  width: 90%;
  padding: 40px 24px;
  border-radius: 5px;
  background-color: var(--VaryLightGray);
  box-shadow: 0 10px 20px var(--DarkGrayishBlue);
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  text-align: center;
  padding: 32px 32px 8px 32px;
  z-index: 1000;
}


.toggled-nav-links a {
  text-decoration: none;
  color: var(--DarkBlue);
  font-weight: 600;
  font-size: 1.125em;
}

.toggled-nav-links li {
  list-style: none;
  padding-bottom: 24px;
}

/* main body  */
.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-illustration {
  width: 50%;
  max-width: 520px;
}

.text-heading  {
  width: 45%;
  height: 100%;
}

@media (min-width: 769px) {
  .toggle-btn {
    display: none;
  }
}

@media (min-width: 1270px) {
  .container {
    padding: 0 12%;
  }
}

@media (max-width: 880px) {
  .btn-toggle button {
    display: none;
  }
  .nav-links {
    margin-right: 0;
  }

}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hero-content {
    flex-direction: column;
    width: 100%;
  }
  .text-heading,
  .hero-illustration {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .text-heading {
    order: 1;
  }
  .hero-illustration  {
    order: 0;
  }

}
